@mixin logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-button-color);
    padding-top: 24px;
    padding-bottom: 24px;
    transition-property: text-decoration-color, color;
    transition-duration: var(--primary-transition-durat);
    transition-timing-function: var(--primary-transition-timing-function);}

@mixin fonts ($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
    }