:root {
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --icon-color: #AFB1B8;
    --primary-button-color: #2196F3;
    --accent-color: #188CE8;
    --primary-transition-durat: 250ms;
    --primary-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }