//.filter__title {display: none;}

.filter__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    @include mq(mobile-only){
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 40px;
    }
}

.filter__item {
    text-align: left;
    margin-right: 8px;

    &:last-child {margin-right: 0;}

    @include mq(mobile-only){
        &:nth-child(-n+3) {margin-bottom: 15px;}
    }
}