.footer-form {
    display: flex;
    align-items: flex-end;
    width: 100%;

    @include mq(not-desktop) {
        flex-direction: column;
        width: 100%;
    }

    @include mq(tablet-only) {
        margin: 0 auto;
    }
}

.footer-form__label {
    box-sizing: border-box;
    width: 100%; 
    margin-right: 12px;

    @include mq(not-desktop) {
        
        margin: 0 auto;
        width: 100%;
        max-width: 450px;
    }
}

.footer-form__input {
    cursor: pointer;
    @include fonts(400, 16px, 1.25, 0.03em);

    width:inherit;
    
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: #2F303A;
    padding: 14px 14px 14px 15px;

    @include mq(not-desktop) {
        margin-bottom: 20px;
    }
}

.footer-form__icon {
    fill: currentColor;
    margin-left: 10px;}