.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    width: 528px;
    max-height: 100%;
    overflow-y: scroll;
    //height: 581px;
    background-color:#FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    //opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--primary-transition-durat) var(--primary-transition-timing-function),
    opacity var(--primary-transition-durat) var(--primary-transition-timing-function);

    @include mq(not-desktop) {
        width: 450px;}

    @include mq(mobile-only) {
        max-width: 100%;}
}

.modal-form {
    width: 100%;
    display: block;}

.modal-form__title {
    @include fonts (700, 20px, 1.15, 0.03em);

    color: var(--primary-title-color);
    text-align: center;
    margin-bottom: 12px;

    @include mq(not-desktop) {
        @include fonts (700, 20px, 1.5, 0.03em);
    }}

.modal-form__label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include fonts (400, 14px, 1.17, 0.01em);

    @include mq(not-desktop) {
        @include fonts (400, 12px, 1.5, 0.03em);
    }

    color: var(--primary-text-color);
    margin-bottom: 10px;

    &:nth-child(5) {
        margin-bottom: 20px;}

    &:focus-within .modal-form__input {
        outline: 0;
        border-color: var(--primary-button-color);}
            
    &:focus-within .modal-form__icon {
        color: var(--primary-button-color);}

    &:hover .modal-form__icon,
    &:focus .modal-form__icon {
        color: var(--primary-button-color);}

}

.modal-form__input {
    width: 100%;

    @include fonts (400, 14px, 1.14, 0.01em);

    color: var(--primary-title-color);
    padding: 12px 16px;
    padding-left: 42px;
    margin-top: 4px;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--primary-transition-durat) 
    var(--primary-transition-timing-function);

    &:hover,
    &:focus {
    border-color:  var(--primary-button-color);}
}

.modal-form__icon {
    fill: currentColor;
    position: absolute;
    left: 12px;
    bottom: 13px;
    color: var(--primary-title-color);
    transition: border-color var(--primary-transition-durat) 
    var(--primary-transition-timing-function)}  
       
.comments {
    padding-left: 12px;

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);}
}

.checkbox-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include fonts (400, 14px, 1.71, 0.03em);

    @include mq(not-desktop) {
        @include fonts (400, 12px, 1.17, 0.03em);
    }

    margin-bottom: 30px;

    &:checked+ .checkbox-policy__icon {
        background-color: var(--primary-button-color);
        border-color: var(--primary-button-color);
        background-origin: border-box;}
    
    &:focus+ .checkbox-policy__icon {
        border-color: var(--accent-color);}
    
    &:hover+ .checkbox-policy__icon {
        border-color: var(--accent-color);}
}

.checkbox-policy__icon {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    fill: currentColor;
    color: #FFFFFF;
    border: 2px solid var(--primary-title-color);
    border-radius: 2px;
    transition: var(--primary-transition-durat);
    transition-timing-function: var(--primary-transition-timing-function);}

.checkbox-policy__title {
    color: var(--primary-text-color);}

.checkbox-policy__link {
    color: var(--primary-button-color);}