.site-nav {
    display: flex;
    align-items: center;
    justify-content: center;}

.site-nav__list {
    display: flex;
    margin-left: 93px;

    @include mq(mobile-only) {
        display: none;
    }

    @include mq(not-desktop){
        margin-left: 88px;
    }
}

.site-nav__item {position: relative;}

.link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    @include fonts (500, 14px, 1.14, 0.02em);

    color: var(--primary-title-color);
    display: block;
    @include transition (color);
   
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover, 
    &:focus
        {text-decoration-color: var(--accent-color);
        color: var(--accent-color);}
    }

.link_acent {color: var(--primary-button-color);

    &::after {
        position:absolute;
        bottom: 0;
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--primary-button-color);}
}

.header__mail,
.header__phone
    { display: inline-flex;
    align-items: center;
    color: var(--primary-text-color);
    text-transform: lowercase;

    @include mq(not-desktop) {
        padding: 0;
        @include fonts (500, 12px, 1.14, 0.02em);
    }
    }

.contacts {
    display: flex;
    margin-left: auto;

    @include mq(mobile-only) {
        display: none;
    }

    @include mq(not-desktop) {
        flex-direction: column;
        margin-left: 50px;
    }
}

.site-nav__item:nth-last-child(-n+2){
    margin-left: 50px;
}

.contacts__item {
    @include mq(desktop) {
        &:nth-child(1){margin-right: 30px;}}

    @include mq(not-desktop) {
    &:nth-child(1){margin-bottom: 10px;}
    &:nth-child(1){padding-top: 17px;}
    &:nth-child(2){padding-bottom: 17px;}
    }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    @include mq(not-desktop) {
    zoom: 0.875;}
}