.portfolio-cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;}

.portfolio-card {
    background: #FFFFFF;
    width: 370px;
    

    @include transition (box-shadow);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}


    @include mq(mobile-only){
        width: 100%;
    }

    @include mq(tablet-only){
        width: 354px;
    }
}

.portfolio-card__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
    @include transition (color);

    &:hover .overlay-thumb__text,
    &:focus .overlay-thumb__text {
    transform: translateY(0%);}
    } 

.card-container {
    flex-grow: 1;
    height: auto;
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;}

.overlay-thumb {
    position: relative;
    overflow: hidden;}

.overlay-thumb__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    text-transform: none;
    overflow-y: scroll;

    @include fonts (400, 18px, 1.56, 0.03em);

    background-color: rgba(33, 150, 243, 0.9);
    color: #FFFFFF;
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(101%);}

.card-container__title {
    @include fonts (700, 18px, 2, 0.06em);

    color: var(--primary-title-color);
    margin-bottom: 4px;}

.card-container__text {
    text-transform: capitalize;
    @include fonts (400, 16px, 1.88, 0.03em);

    color: var(--primary-text-color);
    }