.team {background-color: #F5F4FA;}

.team-cards {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;}

.team-cards__item {
    @include mq(mobile-only) {
        max-width: 450px;
    }

    @include mq(tablet-only) {
        width: 354px;
    }

    @include mq(desktop) {
        width: 270px;
    }

    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}
    
.team-member {
    padding: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;}

.team-member__name {
    @include fonts (500, 16px, 1.19, 0.03em);

    text-align: center;
    text-transform: capitalize;
    color: var(--primary-title-color);
    margin-bottom: 10px;}

.team-member__position {
    @include fonts (null, 16px, 1.19, 0.03em);

    text-align: center;
    margin-bottom: 16px;}